<div *ngIf="admin; else login" >
 

<div class="table-responsive">
  <table class="table ">
    <thead>
      <tr class="table-primary">
        <th>Store Name</th>
        <th>Key</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let store of admin.storeCollection">
        <td><input class="fullWidth form-control" [(ngModel)]="store.name" type="text"></td>
        <td><input class="fullWidth form-control" [(ngModel)]="store.key" type="text"></td>
      </tr>
    </tbody>
  </table>
</div>
 
    <div class="text-right">
       <button type="button" class="btn btn-success" (click)="onSaveButtonClick()">Save</button>
    </div>
 









</div>
<ng-template #login>
  <app-lock (onAdminLockOpen)="onLockOpen($event)" [parentName]="myName"></app-lock>
</ng-template>