<div class="bg-readonly">
  <div class="form-group row">
    <div class="col-md-3 text-right mt-3">
    Name of Contractor
    </div>
    <div class="col-md-9 mt-3">
      {{measurementBook.nameOfContractor}}
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3 text-right">
    Aggrement no.
    </div>
    <div class="col-md-9">
      {{measurementBook.aggrementNumber}}
    </div>
  </div>

  <div class="form-group row">
     <div class="col-md-3 text-right">
    Work Order no.
     </div>
    <div class="col-md-9">
      {{measurementBook.workOrderNumber}}
    </div>
  </div>

  <div class="form-group row">
     <div class="col-md-3 text-right">
    M.B no.
     </div>
    <div class="col-md-9">
      {{measurementBook.mbNumber}}
    </div>
  </div>

  <div class="form-group row">
     <div class="col-md-3 text-right">
    Page no.
     </div>
    <div class="col-md-9">
      {{measurementBook.pageNumber}}
    </div>
  </div>
<div class=" table-responsive">
  <table class="table">
    <thead>
      <tr class="bg-readonlytableheader">
        <th>S.no.</th>
        <th>Discription</th>
        <th>Qty</th>
        <th>Head of Account</th>

      </tr>
    </thead>
    <tbody class="bg-readonly">
      <tr *ngFor="let measurementBookTable of measurementBook.mbTable | deletedItemFilter">
        <td>{{measurementBookTable.serialNumber}}</td>
        <td>{{measurementBookTable.masterRegister.materialNameWithDescription}}</td>
        <td>{{measurementBookTable.quantity}}{{measurementBookTable.masterRegister.materialUnit}}</td>
        <td>{{measurementBookTable.headOfAccount}}</td>

      </tr>
      
    </tbody>
  </table>
</div>

</div>