<div class="bg-readonly">
  <div class="form-group row ">
    <div class="col-md-2 text-right mt-3">
        Indent No.
    </div>
    <div class="col-md-4 mt-3">
        {{indent.indentNumber}}
    </div>
    <div class="col-md-2 text-right mt-3">
       Date
    </div>
    <div class="col-md-4 mt-3">
       {{indent.indentDate}}
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2 text-right">
        To
    </div>
    <div class="col-md-4">
       {{indent.providedTo}}
    </div>
    <div class="col-md-2 text-right">
       By
    </div>
    <div class="col-md-4">
      {{indent.providedBy}}
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-2 text-right">
        On
    </div>
    <div class="col-md-4">
     {{indent.providedOn}}
    </div>
    <div class="col-md-2 text-right">
        Issued by the
    </div>
    <div class="col-md-4">
     {{indent.issuedBy}}
    </div>
  </div>
  
<div class="table-responsive">
  <table class="table">
    <thead class="bg-readonlytableheader">
      <tr >
        <th>Serial No.</th>
        <th>Desc</th>
        <th>Qty</th>
        <th>Head of Account</th>
        <th>Name of contractor from whome value is recoverable</th>
      </tr>
    </thead>
    <tbody class="bg-readonly">
      <tr *ngFor="let indentTable of indent.indentTableCollection | deletedItemFilter">
        <td>{{indentTable.serialNo}}</td>
        <td>{{indentTable.description}}</td>
        <td>{{indentTable.quantity}}</td>
        <td>{{indentTable.headOfAccount}}</td>
        <td>{{indentTable.contractorName}}</td>
      </tr>
    </tbody>
  </table>
</div>
  </div>
