<div class="table-responsive container">
<table class="table table-hover mt-4 fullWidth">
  <thead>
    <tr>
      <th></th>
      <th>Indent No.</th>
      <th>Date</th>
      <th>Provided To</th>
      <th>Provided By</th>
      <th>On</th>
      <th>Issued by</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-template let-indent ngFor [ngForOf]="indentArray" let-i="index">
      <tr>
        <td data-toggle="collapse" [attr.data-target]="'#'+i">
          <button type="button" (click)="onExpandButtonClick(indent.id)">+</button>
        </td>
        <td>{{indent.indentNumber}}</td>
        <td>{{indent.indentDate}}</td>
        <td>{{indent.providedTo}}</td>
        <td>{{indent.providedBy}}</td>
        <td>{{indent.providedOn}}</td>
        <td>{{indent.issuedBy}}</td>
        <td><button type="button" (click)="onOpenIndent(indent)">Open</button></td>
         <td><button type="button" (click)="onDelIndent(indent.id)">X</button></td>
      </tr>
      <tr class="collapse" [attr.id]="i">
        <td colspan="7">
          <app-readonly-indent [indentID]="indent.id" #dic></app-readonly-indent>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
</div>