<div *ngIf="store; else login">


  <md-sidenav-container>
    <md-sidenav mode="side" opened="true" style="padding-top:10px;">
    
     <div><button md-raised-button  (click)="showMasterregister()" [color]="masterActive" class="fullWidth">Stock Register</button></div>
      <div><button md-raised-button  (click)="showIndent()" [color]="indentActive" class="fullWidth">Indent</button></div>
      <div><button md-raised-button (click)="showMeasurement()" [color]="measurementActive" class="fullWidth">Measurement Book</button></div>
      <div><button md-raised-button (click)="showMasaccount()" [color]="masaccountActive" class="fullWidth">MAS Account</button></div>
    </md-sidenav>
   
    <div class="text-left">
      <div class="head">
    <b> {{store.name}}</b>
  </div>
    </div>
    <div *ngIf="currentComponent=='masterregister'">
      <app-master-register [inputStore]="store"></app-master-register>
    </div>
    <div *ngIf="currentComponent=='indent'">
      <app-indent [inputStore]="store"></app-indent>
    </div>
    <div *ngIf="currentComponent=='measurement'">
      <app-measurementbook [inputStore]="store"></app-measurementbook>
    </div>
    <div *ngIf="currentComponent=='masaccount'">
      <app-masaccount [inputStore]="store"></app-masaccount>
    </div>
  
  </md-sidenav-container>




</div>
<ng-template #login>
  <app-lock (onStoreLockOpen)="onLockOpen($event)" [parentName]="myName"></app-lock>
</ng-template>