<nav class="navbar navbar-toggleable-md  bg-primary navbar-inverse sticky-top navbar-light  ">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="">Exa Process</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/store">Store</a>
      </li>
      <li class="fill-remaining-space" ></li>
      <li class="nav-item" routerLinkActive="active">
         <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container body-content">
  <router-outlet></router-outlet>
  <hr />
  <footer>
    <p>&copy; 2017 - Exa Process</p>
  </footer>
</div>