<div class="container mt-4">
  <div class="form-group row">
    <label for="txtIndentNumber" class="col-md-2 text-right col-form-label">Indent No.</label>
    <div class="col-md-4">
      <input class="form-control" [(ngModel)]="indent.indentNumber" type="text" id="txtIndentNumber">
    </div>
    <label for="example-text-input" class="col-md-2 col-form-label text-right">Date</label>
    <div class="col-md-4">
      <input class="form-control" type="date" [(ngModel)]="indent.indentDate" id="txtIndentDate">
    </div>
  </div>

   <div class="form-group row">
    <label for="example-text-input" class="col-md-2 text-right col-form-label">To</label>
    <div class="col-md-4">
      <input class="form-control" [(ngModel)]="indent.providedTo" type="text" id="txtIndentTo">
    </div>
    <label for="example-text-input" class="col-md-2 col-form-label text-right">By</label>
    <div class="col-md-4">
      <input class="form-control" type="text" [(ngModel)]="indent.providedBy" id="txtIndentBy">
    </div>
  </div>

   <div class="form-group row">
    <label for="example-text-input" class="col-md-2 text-right col-form-label">On</label>
    <div class="col-md-4">
      <input class="form-control" [(ngModel)]="indent.providedOn" type="text" id="txtIndentOn">
    </div>
    <label for="example-text-input" class="col-md-2 col-form-label text-right">Issued by the</label>
    <div class="col-md-4">
      <input class="form-control" type="text" [(ngModel)]="indent.issuedBy" id="txtIndentIssueBy">
    </div>
  </div>
  <div class="text-right">
    <div>
        <button type="button" class="btn btn-success" (click)="onSubmit(indent)">Submit</button>
     </div>
  </div>
</div>
