<div class="text-center" *ngIf="error">
  <h5 style="color:red">There is error, please try again</h5>
</div>

<div class="container mt-4">
  <div class="form-group row">
    <label for="txtIndentNumber" class="col-md-2 text-right col-form-label">Indent no.</label>
    <div class="col-md-4">
      <input class="form-control" [(ngModel)]="indent.indentNumber" type="text" id="txtIndentNumber">
    </div>
    <label for="txtIndentDate" class="col-md-2 col-form-label text-right">Date</label>
    <div class="col-md-4">
      <input class="form-control" type="date" [(ngModel)]="indent.indentDate" id="txtIndentDate">
    </div>
  </div>

  <div class="form-group row">
    <label for="txtIndentTo" class="col-md-2 text-right col-form-label">To</label>
    <div class="col-md-4">
      <input class="form-control" [(ngModel)]="indent.providedTo" disabled="{{indent.isReceive}}"  type="text" id="txtIndentTo">
    </div>
   
    <label for="txtIndentBy" class="col-md-2 col-form-label text-right">  <md-slide-toggle color="primary" (change)="toggleButtonChanged()"></md-slide-toggle>By</label>
    <div class="col-md-4">
      <input class="form-control" type="text" [(ngModel)]="indent.providedBy" disabled="{{!indent.isReceive}}"   id="txtIndentBy">
    </div>
  </div>

  <div class="form-group row">
    <label for="txtIndentOn" class="col-md-2 text-right col-form-label">On</label>
    <div class="col-md-4">
      <input class="form-control" [(ngModel)]="indent.providedOn" type="text" id="txtIndentOn">
    </div>
    <label for="txtIndentIssueBy" class="col-md-2 col-form-label text-right">Issued by the</label>
    <div class="col-md-4">
      <input class="form-control" type="text" [(ngModel)]="indent.issuedBy" id="txtIndentIssueBy">
    </div>
  </div>

  <table class="table table-responsive">
    <thead>
      <tr class="table-primary">
          
        <th>S.no.</th>
        <th class="fullWidth">Discription</th>
        <th>Qty</th>
        <th class="largeWidth">Head of Account</th>
        <th class="largeWidth">Name of contractor from whome value is recoverable </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let indentTable of indent.indentTableCollection | deletedItemFilter">
          
        <td><input class="smallWidth form-control" [(ngModel)]="indentTable.serialNo" type="text"></td>
        <td>
          <select [compareWith]="byId" [(ngModel)]="indentTable.masterRegister" class="form-control">
             <option  *ngFor="let masterRegister of masterRegisterCollection" 
             [ngValue]="masterRegister">{{masterRegister.materialNameWithDescription}}</option>
          </select>
        </td>
        <td>
            <div class="input-group">
          <input class="mediumWidth form-control" [(ngModel)]="indentTable.quantity" type="number">
          <span class="input-group-addon">{{indentTable.masterRegister.materialUnit}}</span>
            </div>
        </td>
        <td><input class="largeWidth form-control" [(ngModel)]="indentTable.headOfAccount" type="text"></td>
        <td *ngIf="indent.indentTableCollection.indexOf(indentTable)==0" [attr.rowspan]="nameContractorRowSpan"><textarea class="largeWidth form-control" [(ngModel)]="indent.providedBy" [rows]="nameContractorRowSpan*2"  ></textarea></td>
        <td><button *ngIf="indent.indentTableCollection.indexOf(indentTable)!=0" type="button" (click)="onDelButtonClick(indentTable)">X</button></td>
      </tr>

    </tbody>
  </table>




  




  <div class=" form-group row">
      <label for="txtIndentSubmittedDate" class="col-md-2 col-form-label">Submitted Date</label>
      <div class="col-md-4">
        <input class="form-control" type="date" [(ngModel)]="indent.submittedDate" id="txtIndentSubmittedDate">
      </div>
    <div class="col-md-6 text-right">
      <button type="button" class="btn btn-success" (click)="onAddRowButtonClick()">Add Row</button>
      <button type="button" class="btn btn-success" (click)="onSaveButtonClick()">Save</button>
      <button type="button" class="btn btn-success" (click)="onDraftButtonClick()">Draft</button>
      <button type="button" class="btn btn-success" (click)="openDialog()">Submit</button>
    </div>
  </div>


</div>