<div class="table-responsive container">
<table class="table table-hover mt-4 fullWidth">
  <thead>
    <tr>
      <th></th>
      <th>Name of Contractor</th>
      <th>Agreement no</th>
      <th>Work Order no</th>
      <th>M.B no</th>
      <th>Page no</th>
      <th>Measurement Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-template let-measurementBook ngFor [ngForOf]="measurementBookArray" let-i="index">
      <tr>
        <td data-toggle="collapse" [attr.data-target]="'#'+i">
          <button type="button" (click)="onExpandButtonClick(measurementBook.id)">+</button>
        </td>
        <td>{{measurementBook.nameOfContractor}}</td>
        <td>{{measurementBook.aggrementNumber}}</td>
        <td>{{measurementBook.workOrderNumber}}</td>
        <td>{{measurementBook.mbNumber}}</td>
        <td>{{measurementBook.pageNumber}}</td>
        <td>{{measurementBook.measurementDate}}</td>
        <td><button type="button" (click)="onOpenMeasurementBook(measurementBook)">Open</button></td>
         <td><button type="button" (click)="onDelMeasurementBook(measurementBook.id)">X</button></td>
      </tr>
      <tr class="collapse" [attr.id]="i">
        <td colspan="9">
          <app-readonly-measurement-book [measurementBookID]="measurementBook.id" #dmbc></app-readonly-measurement-book>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
</div>