<md-tab-group (selectChange)="onTabChange($event)"  [selectedIndex]="selIndex">
  <md-tab label="Create">
    <app-create-indent [inputStore]="inputStore" [isSitework]="isSitework" (onSelectedIndexChange)="onSelectedIndexChange($event)"></app-create-indent>
  </md-tab>
  <md-tab label="Draft">
    <app-draft-indent  [inputStore]="inputStore" [isSitework]="isSitework" (onDraftOpenSuccess)="onSelectedIndexChange($event)" ></app-draft-indent>
  </md-tab>
  <md-tab label="Submitted">
    <app-submitted-indent  [inputStore]="inputStore" [isSitework]="isSitework"></app-submitted-indent>
  </md-tab>
</md-tab-group>
