/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.bg-readonly{
    background-color: #b6e2ed
}

.fullWidth{
    width:100%;
}

.bg-readonlytableheader{
    background-color: rgba(33, 128, 247, 0.45)
}


/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .carousel-item img[src$=".JPG"] {
    width: 100%;
    height: 100%;
  
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}
