<div class="table-responsive">
  <table class="table ">
    <thead>
      <tr class="table-primary">
        <th>S.no.</th>
        <th>Name of Material with Description</th>
        <th>Unit</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let masterRegister of masterRegisterCollection">
        <td><input class="smallWidth form-control" [(ngModel)]="masterRegister.serialNumber" type="text"></td>
        <td> 
          <input  class="fullWidth form-control" [(ngModel)]="masterRegister.materialNameWithDescription" type="text">
        </td>
        <td><input class="mediumWidth form-control" [(ngModel)]="masterRegister.materialUnit" type="text"></td>
        <td><input class="mediumWidth form-control" [(ngModel)]="masterRegister.materialRate" type="number"></td>
        <td><button type="button" (click)="onUpdateButtonClick(masterRegister)">Update</button></td>
        <td><button type="button" (click)="onDelMasterRegister(masterRegister.id)">X</button></td>
      </tr>
      <tr>
        <td><input class="smallWidth form-control" [(ngModel)]="masterRegister.serialNumber" type="text"></td>
        <td> 
          <input  class="fullWidth form-control" [(ngModel)]="masterRegister.materialNameWithDescription" type="text">
        </td>
        <td><input class="mediumWidth form-control" [(ngModel)]="masterRegister.materialUnit" type="text"></td>
        <td><input class="mediumWidth form-control" [(ngModel)]="masterRegister.materialRate" type="number"></td>
        <td colspan="2"> <button type="button" class="btn btn-success" (click)="onSaveButtonClick()">Create</button></td>
      </tr>
    </tbody>
  </table>
</div>


 
